<head>
  <link rel="stylesheet" href="/stylesheets/footer.css" />
</head>
<div class="footer text-white text-capitalize bg-primary">
  <a href="/"><h4 class="text-center footer-para">Ponzi9ja</h4></a>

  <ul class="footer-list shadow-lg p-2">
    <li>
      <a href="#"><i class="text-primary fab fa-facebook fa-2x"></i></a>
      <br />
      Facebook
    </li>
    <li>
      <a href="#"><i class="text-danger fab fa-instagram fa-2x"></i></a>
      <br />
      Instagram
    </li>
    <li>
      <a href="#"><i class="text-secondary fab fa-twitter fa-2x"></i></a>
      <br />
      Twitter
    </li>
  </ul>
  <a class="ml-5" href="/admin">Admin</a>
</div>
