<head>
  <link rel="stylesheet" href="/stylesheets/footer.css" />
</head>
<div class="footer text-white text-capitalize bg-primary">
  <a href="/"><h4 class="text-center footer-para">Upgrade</h4></a>

  <ul class="footer-list shadow-lg p-2" id="foo">
    <li>
      <a href="https://t.me/joinchat/TMrQChdI52-uxGjs3nK52g"><i class="text-danger fab fa-instagram fa-2x"></i></a>
      <br />
      Telegram Group
    </li>
    <li>
      <a href="#"></a>
      <br />
      © 2020 Upgrade All Rights Reserved.   Designed By Upgrade Media
    </li>
  </ul>
</div>
