<head>
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
</head>
<div>
  <nav class="navbar bg-primary fixed-top navbar-expand-lg navbar-dark navBar">
    <a href="/"><img src="/img/UPG2.png" style="width: 60px; height: 40px;"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
      </ul>
      <a href="/users/register" class="btn btn-secondary mx-auto">Register</a>

      <a href="/users/login" class="btn btn-secondary mx-auto">Login</a>

      <a href="/dashboard" class="btn btn-success mx-auto">Dashboard</a>
    </div>
  </nav>
</div>
