<head>
  <link rel="stylesheet" href="/stylesheets/dashboard.css" /> 
</head>
<div class="container dash-cont">
  <header class="dash-header">
    <h3 class="text-center pt-3">
      <caption class="mt-auto text-capitalize text-dark">
        Welcome to your dashboard <%=user.name %>!
      </caption>
    </h3>

    <p class="text-dark m-auto py-3 text-center">
        Your promo code is: <span style="color: rgb(221, 48, 29); font-size: large;"><%= user.promo_code %></span><br>
        Use this code to invite members and get 5% of thier first deposits.
    </p>
    <% if (user.admin) { %>
      <a href=<%= `/${process.env.ADMIN_ROUTE}` %> >Go to admin</a>
    <% } %> 
  </header>
  <% include ../messages %>
  <section class="info-section">
    <div class="row pt-5">
      <div class="col-sm">
        <div class="card pledge-card shadow-lg">
          <div class="card-img-top pledge-card-top">
            <p class="text-center mt-2 lead">
              <i class="fas fa-volume-up fa-1x text-light"></i>
              <br />
              <b class="mt-3"> Make a pledge today and start earning! </b>
            </p>
          </div>
          <div class="card-body">
            <p>Welcome to your dashboard <%= user.name.split(' ')[0] %>! quickly fill in the pledge form to start the
              process of earning from your investments.<br>
              <br>
              The table below shows your current referral list and their payment status. You will recieve your referral
              bonus on successful confirmation of their first pledge!<br>
              <br>
              <b>Note that you only qualify for referral bonuses after making your first successful investment!</b>
            </p>
            <p class="lead">
              <% include ./getReferral %>
            </p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <span class="bg-primary mx-2 rounded">
                <a href="#pledgeForm" class="btn text-white">Pledge Now</a>
              </span>
              <span class="bg-primary mx-2 rounded">
                <a href="#viewMatched" class="btn btn-block text-white">View Matched</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card pledge-card">
          <div class="card-header bg-primary pledge-card-top">
            <p class="text-center lead">
              <i class="fas fa-volume-up fa-1x text-light"></i>
              <br />
              <b class="mt-3 text-white">Instructions </b>
            </p>
          </div>
          <div class="card-body">
            <ul>
              <li>
                <p>
                  Fill the pledge form below to start your investment process.
                </p>
              </li>
              <li>
                <p>
                  The account details provided in the form will be the one used to recieve funds for each transaction,
                  so ensure to provide the right account details.
                </p>
              </li>
              <li>
                <p>
                  Once a pledge is made, you will be matched with a member within 24 hours after which you are to
                  provide to that member within the next 24 hours (after being matched), to avoid cancelled investment.
                </p>
              </li>
              <li>
                <p>
                  After a member confirms your pledge, you will have to wait the maturity period of your investment,
                  depending on the plan choosen and once this period is over, you will be matched with a member (or
                  members) that would provide the expected amount of help to you, within 24 hours.
                </p>
              </li>
              <li>
                <p>
                  To resolve issues like unpaid funds, delayed confirmation of funds by members and more, simply contact the admin on any of the available platforms (Telegram & Instagram).
                </p>
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <span class="bg-success mx-2 rounded">
                <a href="#foo" class="btn text-light">Contact Us</a>
              </span>
              <span class="bg-mutted mx-2 rounded">
                <a href="#" class="btn btn-block text-dark">T's & C's</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="col-sm"><% include ../pledge/pledgeForm %></div>
</div>