<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />   
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title class="text capitalize">Upgrade</title>
  <!--bootswtch-->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <!--fontawsome cdn -->
  <script src="https://kit.fontawesome.com/61174766c8.js" crossorigin="anonymous"></script>
  <!--stylesheet -->
</head>

<body>
  <div class="container"><%- body %></div>
  <% include ./partials/footer %>

  <!-- jQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="js/addons/datatables.min.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>