<body>
  <% include ./partials/navbar %>
  <div class="mt-5">
    <p class="text-centered lead">
      Your registration was successful, you'll be matched with someone who needs
      your pledge soon! <br />
      Thank you <span class="display-3 text-primary">&#x1F44D;</span>
    </p>
  </div>
</body>
