.dash-header {
    margin: 7rem 0 0 0;
}

.dash-header h3 {
    font-size: 1.9em;
}

.dash-header p {
    font-size: 1.2em;
}

/* .info-section {
    height: 100vh;
} */



.pledge-card {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pledge-card p {
    color: #000000;
}

.pledge-card i {
    padding: 1rem;
    color: rgb(71, 255, 148);
}