<head>
  <!-- <link rel="stylesheet" href="/stylesheets/about.css" /> -->
</head>
<body>
  <header style="margin-top: 7rem">
    <figure>
      <img
        class="img-fluid"
        src="https://images.pexels.com/photos/3184300/pexels-photo-3184300.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="..."
      />
    </figure>
  </header>
  <div class="my-5 mx-3">
    <p class="lead">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
      veritatis dolor voluptatibus ea ipsam debitis quo cumque accusamus non
      ipsa, ducimus consequuntur nulla repudiandae provident, similique
      accusantium, magnam dolore. Sit a debitis eos odit obcaecati provident
      dolores nihil cumque saepe quibusdam, quasi doloremque, facilis, similique
      sequi nesciunt impedit ipsam itaque! Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Libero distinctio porro adipisci nulla a
      repellat cum blanditiis necessitatibus id, molestiae ab ipsum sed
      voluptatem sunt facere. Sint magni accusamus soluta?
    </p>
  </div>
</body>
