<head>
  <!-- <link rel="stylesheet" href="/stylesheets/about.css" /> -->
</head>

<body>
  <header style="margin-top: 7rem">
    <figure>
      <img class="img-fluid"
        src="https://images.pexels.com/photos/3184300/pexels-photo-3184300.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="..." />
    </figure>
  </header>
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center;">About Us</h1>
    </div>
  </div>
  <div class="my-5 mx-3">
    <p class="lead">
      Upgrade is a fast growing peer-to-peer donation and crypto trading platform. These donations go idrectly to members of the platfrom and help is guaranteed in due time.
    </p>
  </div>
</body>