<head>
  <link rel="stylesheet" href="/stylesheets/pledgeForm.css" />
</head>
<body>
  <div class="row my-5">
    <div class="col-md-6 mb-5">
      <div class="card card-body text-white bg-info">
        <h3 class="text-center mb-3">
          <span class="text-bold display-4 text-success">&#x2709;</span><br />
          Match Pledgers
        </h3>
        <form id="matchForm" action="/admin/match" method="POST">
          <div class="form-group">
            <label for="name">Sender's Email</label>
            <input
              type="email"
              id="S_email"
              name="S_email"
              class="form-control rounded px-3"
              placeholder="Sender's email..."
              required="true"
            />
          </div>

          <div class="form-group">
            <label for="account No">Reciever's Email</label>
            <input
              type="email"
              id="R_email"
              name="R_email"
              class="form-control rounded px-3"
              placeholder="Reciever's email..."
              required="true"
            />
          </div>
          <button type="submit" class="btn btn-block text-white">Match</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body text-white bg-info">
        <h4 class="text-center mb-1">Most Recent Activities</h4>
      </div>
    </div>
  </div>
</body>
