<head>
  <link rel="stylesheet" href="services.css" />
</head>
<body>
  <header style="margin-top: 7rem">
    <figure>
      <img
        class="img-fluid"
        src="https://images.pexels.com/photos/3182812/pexels-photo-3182812.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="..."
      />
    </figure>
  </header>
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center;">Our Services</h1>
    </div>
  </div>
  <section class="my-5">
    <div class="row">
      <div class="col-sm my-3">
        <div class="card text-light">
          <div class="card-header bg-primary">
            <p class="text-center">
              <i class="fa fa-money fa-2x"></i>
            </p>
            <h4 class="text-capitalize text-center">Gold Plan</h4>
          </div>
          <div class="card-body bg-success">
            Pledge(‎₦20,000 - ₦500,000) and get 50% ROI in 30 days!
          </div>
          <div class="card-footer bg-primary">
            <a
              href="/dashboard"
              class="btn btn-block btn-outline-success text-light"
              >Pledge Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm my-3">
        <div class="card text-light">
          <div class="card-header bg-primary">
            <p class="text-center"><i class="fa fa-money fa-2x"></i></p>
            <h4 class="text-capitalize text-center">Silver Plan</h4>
          </div>
          <div class="card-body bg-success">
            Pledge(‎₦10,000 - ₦200,000) and get 25% ROI in 14 days!
          </div>
          <div class="card-footer bg-primary">
            <a
              href="/dashboard"
              class="btn btn-block btn-outline-success text-light"
              >Pledge Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm my-3">
        <div class="card text-light">
          <div class="card-header bg-primary">
            <p class="text-center"><i class="fa fa-btc fa-2x"></i></p>
            <h4 class="text-capitalize text-center">Bitcoin Plan</h4>
          </div>
          <div class="card-body bg-success">
            Pledge(‎$100 - $1,000) and get 30% ROI in 30 days!
          </div>
          <div class="card-footer bg-primary">
            <a
              href="/dashboard"
              class="btn btn-block btn-outline-success text-light"
              >Pledge Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
