<head>
  <link rel="stylesheet" href="services.css" />
</head>
<body>
  <header style="margin-top: 7rem">
    <figure>
      <img
        class="img-fluid"
        src="https://images.pexels.com/photos/3182812/pexels-photo-3182812.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="..."
      />
    </figure>
  </header>
  <section class="my-5">
    <div class="row">
      <div class="col-sm my-3">
        <div class="card text-light">
          <div class="card-header bg-primary">
            <p class="text-center">
              <i class="fas fa-graduation-cap fa-2x"></i>
            </p>
            <h4 class="text-capitalize text-center">Education</h4>
          </div>
          <div class="card-body bg-success">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore
            iure distinctio quaerat non expedita? Eum officiis ipsa ducimus
            saepe eaque veritatis impedit minima. Aut, consequuntur.
          </div>
          <div class="card-footer bg-primary">
            <a
              href="/dashboard"
              class="btn btn-block btn-outline-success text-light"
              >Pledge Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm my-3">
        <div class="card text-light">
          <div class="card-header bg-primary">
            <p class="text-center"><i class="fas fa-home fa-2x"></i></p>
            <h4 class="text-capitalize text-center">Housing</h4>
          </div>
          <div class="card-body bg-success">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore
            iure distinctio quaerat non expedita? Eum officiis ipsa ducimus
            saepe eaque veritatis impedit minima. Aut, consequuntur.
          </div>
          <div class="card-footer bg-primary">
            <a
              href="/dashboard"
              class="btn btn-block btn-outline-success text-light"
              >Pledge Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm my-3">
        <div class="card text-light">
          <div class="card-header bg-primary">
            <p class="text-center"><i class="fas fa-car fa-2x"></i></p>
            <h4 class="text-capitalize text-center">Car</h4>
          </div>
          <div class="card-body bg-success">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore
            iure distinctio quaerat non expedita? Eum officiis ipsa ducimus
            saepe eaque veritatis impedit minima. Aut, consequuntur.
          </div>
          <div class="card-footer bg-primary">
            <a
              href="/dashboard"
              class="btn btn-block btn-outline-success text-light"
              >Pledge Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
